{
  "root": true,
  // This tells ESLint to load the config from the package `eslint-config-custom`
  "extends": ["custom", "plugin:storybook/recommended"],
  "rules": {
    "vue/one-component-per-file": "off",
    "no-console": "off"
  },
  "overrides": [
    {
      "files": [
        "**/stories/*.{vue,js,jsx,ts,tsx}"
      ],
      "rules": {
        "no-console": "off"
      }
    },
    {
      "files": [
        "**/*.test.ts"
      ],
      "rules": {
        "no-restricted-globals": "off"
      }
    }
  ]
}
