{
  "root": true,
  // This tells ESLint to load the config from the package `eslint-config-custom`
  "extends": ["custom", "plugin:storybook/recommended"],
  "rules": {
    "vue/one-component-per-file": "off"
  }
}
