.triggerClass {}

.contentClass {
  transform-origin: var(--oku-hover-card-content-transform-origin);
  background-color: #f9fafb;
  padding: 20;
  border-radius: 5;
}

.arrowClass {
  fill: #f9fafb;
}

@keyframes fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.9);
    opacity: 0;
  }
}

.animatedContentClass {
  transform-origin: var(--oku-hover-card-content-transform-origin);
  background-color: #f9fafb;
  padding: 20;
  border-radius: 5;
  &[data-state='open'] {
    animation: fadeIn 250ms ease;
  }
  &[data-state='closed'] {
    animation: fadeOut 250ms ease;
  }
}

.gridClass {
  display: inline-grid;
  grid-template-columns: repeat(3, 50px);
  column-gap: 150;
  row-gap: 100;
  padding: 100;
  border: 1px solid black;
}

.chromaticTriggerClass {
  box-sizing: border-box;
  width: 30;
  height: 30;
  background-color: tomato;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.chromaticContentClass {
  box-sizing: border-box;
  display: grid;
  place-content: center;
  width: 60;
  height: 60;
  background-color: royalblue;
  color: white;
  font-size: 10;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.chromaticArrowClass {
  fill: black;
}

.styles {
  background-color: rgba(0, 0, 255, 0.3);
  border: 2px solid blue;
  padding: 10;
  &[data-state='closed'] {
    border-color: red;
  }
  &[data-state='open'] {
    border-color: green;
  }
}

.triggerAttrClass {
  background-color: rgba(0, 0, 255, 0.3);
  border: 2px solid blue;
  padding: 10;
  &[data-state='closed'] {
    border-color: red;
  }
  &[data-state='open'] {
    border-color: green;
  }
}

.contentAttrClass {
  box-sizing: border-box;
  display: grid;
  place-content: center;
  width: 60;
  height: 60;
  color: white;
  font-size: 10;
  background-color: rgba(0, 0, 255, 0.3);
  border: 2px solid blue;
  padding: 10;
  &[data-state='closed'] {
    border-color: red;
  }
  &[data-state='open'] {
    border-color: green;
  }
}

.arrowAttrClass {
  fill: black;
  background-color: rgba(0, 0, 255, 0.3);
  border: 2px solid blue;
  padding: 10;
  &[data-state='closed'] {
    border-color: red;
  }
  &[data-state='open'] {
    border-color: green;
  }
}
