.toast_box {
  position: relative;
  min-height: 400px;
}

.toast_viewportClass {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10px;
  gap: 10px;
  list-style: none;
}

.toast_rootClass {
  position: relative;
  overflow: hidden;
  list-style: none;
  width: 230px;
  border-radius: 4px;
  border: 1px solid black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  font-size: 12px;
  outline-color: red;
}

.toast_headerClass {
  padding: 5px 10px;
  margin: -10px -10px 10px;
  background: black;
  color: white;
  position: relative;
  height: 22px;
  display: flex;
  align-items: center;
}

.toast_successHeaderClass {
  padding: 5px 10px;
  margin: -10px -10px 10px;
  background: black;
  color: white;
  position: relative;
  height: 22px;
  display: flex;
  align-items: center;

  background: green;
}

.toast_titleClass {
  font-size: inherit;
  font-weight: normal;
}

.toast_descriptionClass {
  margin: 0;
}

.toast_buttonClass {
  border: 1px solid black;
  border-radius: 4px;
  background: gainsboro;
  font-family: inherit;
  padding: 2px 5px;

  &:hover,
  &:focus {
    background: royalblue;
    border-color: darkblue;
    color: white;
  }
}

.toast_closeClass {
  border: 1px solid black;
  border-radius: 4px;
  background: gainsboro;
  font-family: inherit;
  padding: 2px 5px;

  &:hover,
  &:focus {
    background: royalblue;
    border-color: darkblue;
    color: white;
  }

  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  padding: 0;
}

@keyframes toast_fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes toast_fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes toast_slideRight {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }

  to {
    transform: translateX(calc(100% + 10px));
  }
}

@keyframes toast_slideLeft {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }

  to {
    transform: translateX(calc(-100% - 10px));
  }
}

@keyframes toast_slideUp {
  from {
    transform: translateY(var(--radix-toast-swipe-end-y));
  }

  to {
    transform: translateY(calc(-100% - 10px));
  }
}

@keyframes toast_slideDown {
  from {
    transform: translateY(var(--radix-toast-swipe-end-y));
  }

  to {
    transform: translateY(calc(100% + 10px));
  }
}

.toast_errorRootClass {
  position: relative;
  overflow: hidden;
  list-style: none;
  width: 230px;
  border-radius: 4px;
  border: 1px solid black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  font-size: 12px;
  outline-color: red;


  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toast_animatedRootClass {
  &[data-state="open"] {
    animation: toast_fadeIn 200ms ease-out;
  }

  &[data-state="closed"] {
    animation: toast_fadeOut 200ms ease-out;
  }

  &[data-swipe="move"] {
    transform: translate(var(--radix-toast-swipe-move-x), var(--radix-toast-swipe-move-y));
  }

  &[data-swipe="cancel"] {
    transform: translate(0, 0);
    transition: transform 200ms ease-out;
  }

  &[data-swipe="end"] {
    animation-duration: 300ms;
    animation-timing-function: ease-out;

    &[data-swipe-direction="right"] {
      animation-name: toast_slideRight;
    }

    &[data-swipe-direction="left"] {
      animation-name: toast_slideLeft;
    }

    &[data-swipe-direction="up"] {
      animation-name: toast_slideUp;
    }

    &[data-swipe-direction="down"] {
      animation-name: toast_slideDown;
    }
  }
}

@keyframes toast_loading {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

.toast_progressBarClass {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  overflow: hidden;
  background-color: #ccc;
}

.toast_progressBarInnerClass {
  height: 100%;
  background-color: green;
  animation-name: toast_loading;
  animation-timing-function: linear;
}

.toast_chromaticViewport {
  display: inline-flex;
  border: 5px solid royalblue;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
