.alertDialog_triggerClass {
}

.alertDialog_overlayClass {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.2;
}

.alertDialog_contentClass {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  min-width: 300px;
  min-height: 150px;
  padding: 50px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
}

.alertDialog_cancelClass {
  appearance: none;
  padding: 10px;
  border: none;
  background: #ededed;
}

.alertDialog_actionClass {
  appearance: none;
  padding: 10px;
  border: none;
  background-color: crimson;
  color: #fff;
}

.alertDialog_titleClass {
}

.alertDialog_descriptionClass {
}


.alertDialog_chromaticContentClass {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  min-width: 300px;
  min-height: 150px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 10px;

  padding: 10px;
  min-width: auto;
  min-height: auto;
}

.alertDialog_overlayAttrClass {
  position: fixed;
  inset: 0px;
  background-color: black;
  opacity: 0.2;
}

.alertDialog_contentAttrClass {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  min-width: 300px;
  min-height: 150px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 10px;

  padding: 10px;
  min-width: auto;
  min-height: auto;
}

.alertDialog_triggerAttrClass,
.alertDialog_overlayAttrClass,
.alertDialog_contentAttrClass,
.alertDialog_cancelAttrClass,
.alertDialog_actionAttrClass,
.alertDialog_titleAttrClass,
.alertDialog_descriptionAttrClass {
  background-color: rgba(0, 0, 255, 0.3);
  border: 2px solid blue;
  padding: 10px;

  &[data-state="closed"] {
    border-color: red;
  }
  &[data-state="open"] {
    border-color: green;
  }
}
