.menubar_rootClass {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 2px;
}

.menubar_triggerClass {
  padding: 6px 16px;
  border: 0;
  background-color: transparent;
  font-family: apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
  font-size: 13px;
  border-radius: 4px;
  outline: none;

  &[data-highlighted] {
    background-color: #ccc;
  }

  &[data-state="open"] {
    background-color: #111;
    color: white;
  }
}
