.scrollArea_scrollAreaClass {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.scrollArea_scrollAreaViewportClass {
    width: 100%;
    height: 100%;
}

.scrollArea_scrollbarClass {
    display: flex;
    /* ensures no selection */
    user-select: none;
    /* disable browser handling of all panning and zooming gestures on touch devices */
    touch-action: none;

    transition: background 160ms ease-out;
    padding: 2px;
    background: rgba(0, 0, 0, 0.3);

    &:hover {
        background: rgba(0, 0, 0, 0.5);
    }

    &[data-orientation="vertical"] {
        width: 8px;
    }

    &[data-orientation="horizontal"] {
        flex-direction: column;
        height: 8px;
    }
}

.scrollArea_thumbClass {
    flex: 1;
    /* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
    position: relative;
    background: black;
    border-radius: 8px;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        min-width: 44px;
        min-height: 44px;
    }
}

.scrollArea_cornerClass {
    background: rgba(0, 0, 0, 0.3);
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: black;
        width: 8px;
        height: 8px;
        border-radius: 8px;
    }
}

@keyframes scrollArea_fadeIn {
    from {
        transform: scale(0.2);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scrollArea_fadeOut {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0.2);
        opacity: 0;
    }
}

.scrollArea_animatedThumbClass {

    /* @extend .thumbClass; */
    &[data-state="visible"] {
        animation: scrollArea_fadeIn 300ms ease;
    }

    &[data-state="hidden"] {
        animation: scrollArea_fadeOut 300ms ease;
    }
}
